.accountPage {
    font-size: 20pt;
}
.editText{
    text-align: left;
    font-size: 15pt;
}

.sellerCard {
    border-radius: 10px;
    width: 300%;
    height: 40px;
    background-color: lightgray;
    color: black;
    padding-left: 4px;
    padding-top: 8px;
    transform: translateX(-12px);
}
